main{
	overflow: auto;
	margin: auto;
	width: 70%;
}
#formulario_registrousuario,
#tyc-modal, #registro-exitoso{
	border: 2px solid black;
	padding: 5% 10%;
}
#registro-exitoso{
	margin-bottom: 5%;
	padding: 5%;
	background: #E2E2E2FF;
}
#login-usuario{
	border: 2px solid black;
	padding: 1%;
	margin-bottom: 5%;
}
#tyc-modal{
	height: 100%;
}
#formulario_registrousuario input[type='text'],
#formulario_registrousuario input[type='number'],
#formulario_registrousuario input[type='email']{
	width: 100%;
}

#parte-1,#parte-2,
#parte-3,#parte-4,
#parte-5,#parte-6,
#parte-7,#parte-8,
#parte-11{
	width: 100%;
	display: inline-flex;
	margin-top: 5%;
}
#parte-1 div,#parte-2 div,
#parte-3 div,#parte-4 div{
	display: inline-block;	
}

#parte-3 > div > div{
	margin-right: 3%;
}
#parte-6,#btn-cancelar input[type='text'],
#btn-registrarse input[type='text']{
	text-align: center;
}
#parte-6 > div > a{
	color: #4269BCFF!important;
}
#btn-registrarse{
	text-align: center;
}
#formulario_registrousuario input[type='text'],
#btn-cancelar input[type='text']{
	width: 80%!important;
}

#btn-registrarse input[type='text']{
	background: white;
	color: green;
	border: 2px solid green;
	cursor: pointer;
}
#btn-registrarse input[type='text']:hover{
	background: green;
	color: white;
	border: 2px solid green;
}
#btn-cancelar input[type='text']{
	background: white;
	color: red;
	border: 2px solid red;
	cursor: pointer;
}
#btn-cancelar input[type='text']:hover{
	background: red;
	color: white;
	border: 2px solid red;
}
h3{
	text-align: center;
}
#parte-6 label,#cerrar{
	cursor: pointer;
}
#tyc{
	position: fixed;
	top: 0;
	left: 0;
	background: #000000e8;
}


.fix{
	width: 100%;
	height: 100%;
}
.contenido-modal{
	background: white;
	margin: 10%;
}
.btn-cerrar{
	text-align: right; 
}
#tyc > div > #pag{
	padding-bottom: 40px;
}



/*   TRANSACCION EXITOSA   */
#parte-8{
	margin-bottom: 10%;
}
#parte-9{
	margin: auto;
	width: 50%;
}
#img-exito{
	text-align: right;
}
#text-exitoso{
	text-align: left;
}
#text-exitoso h1{
	color: #6f6fea;
}
#contenedor-login{
	padding: 3% 20%;
}
#parte-10 input[type='text'],
#parte-10 input[type='email'],
#parte-10 input[type='password']
{
	width: 100%;
}
#inicio-de-sesion{
	margin: 0;
}
#inicio-de-sesion h2{
	text-align: center;
}
#parte-10{
	margin: 10% 0;
}
#olvide{
	text-align: center;
}
#olvide > a{
	color: #3350CBFF!important;
	text-decoration: underline;
}